
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;


}

.topnav {
  overflow: hidden;
  background-color: #ffffff;

  margin-top: 8px;
}
.imglogo{
  width: 120px;
  height: 80px;
}

.imgcart{
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 30px;
  margin-right: 20px;

}

.topnav {
  float: left;
  
}
  .search-container {
  float: right;
  margin-left: 20px;
  margin-top: 15px;


}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 18pts;
  border:none;
  background: #d7d7d7;
  font-family: Helvetica Neue;
  color: #526464;
  font-weight:normal;
  width: 250px;

}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #2b80f2;
  height: 34.2px;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    width: 100%;
     }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;

  }
  .topnav input[type=text] {
    border: 1px solid #ccc; 

  }
}

#header{
  /*box-sizing:border-box;-moz-box-sizing:border-box;*/
  z-index:1;
  position:fixed;
  top:0;
  width:100%;
  background:#ffffff;
  text-align:center;
  border-bottom:2px solid #000;
}

#p1{
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 50px;

}

#p2 {
  font-family: Helvetica Neue;
  font-weight: medium;
  font-style: italic;
  font-size: 18px;
}

#clock{
  width: 100px;
  height: 100px;
  
  }

#truck{
    width: 100px;
  height: 100px;

 }

#support {
    width: 100px;
  height: 100px;
   
 }
  .icon{
    border-collapse: collapse;
    width: 100%;
  }

  .t{
    width: 10%;
    padding-right: 10%;
    padding-left: 10%;
    display: inline-block;
  }

  .c1{
    border-collapse: collapse;
    width: 80%;
    display: inline;
  
  }

  .cat{
    width: 10%;
    padding-right: 5%;
    padding-left: 5%;
    
  }

.sidebar{
  float: left;
  font-family: 'Helvetica Neue';
  font-size: 21pts;
  width: 100%;
  max-width: 15%;
  max-height: 100%;
  background: rgb(216,225,223);
  height: 662px;
  
}

 .main{
  float: right;
  width: 100%;
  background: #fff;
 /* padding-right: 350px;*/
  background-color: rgb(236,240,241);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 85%;
  height: auto;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
list-style: none;
 margin: 0;
  padding: 0;
  border: 0; 
  
}
#cssmenu ul {
/*  position: absolute;*/
/*  z-index: 1;*/
  float: left;
  
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 2em;
  vertical-align: middle;

}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
/*  position: relative;*/
  z-index: 3;
  cursor: default;
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 99%;
  z-index: 3;
  
}

#cssmenu ul ul li {
  float: none;
}

#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: rgb(102,102,102);
  text-decoration: none;
  font-weight: medium;


}

#cssmenu > ul {
  float: none;
   padding-top: 30px;
}
#cssmenu > ul > li {
  border-left: 3px solid #e8e6e6;
}
#cssmenu > ul > li > a {
  padding: 10px 20px;
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #e8e6e6;
}
#cssmenu ul li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li:hover {
  background: #b7b7b7;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 180px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #b7b7b7;
}

#cat{
  width: 70%;
  display: inline-block;
  border-collapse: collapse;
  height: auto;
  margin-left: 80px;

}

 #label{
    margin: 25px;

 }

#imgshop{
  width: 150px;
  height: 150px;
  margin: 20px 5px;
  border-radius: 10px;
   cursor: pointer;
}

#imgshop:hover{
  width: 150px;
  height: 150px;
  box-shadow: 3px 5px 5px rgb(216,225,223); 
  border-radius: 10px;
}


 .itemname{
    font-family: Helvetica Neue;
    font-weight: bold;
    color: rgb(102,102,102);
    font-size: 16px;
    padding-top: 0;
    margin-top: 0;
    overflow: hidden;
 }

 .packet{
  font-family: Helvetica Neue;
  font-weight: bold;
  color: rgb(75,75,75);
  font-size: 15px;
  padding-top: 0;
  margin-top: 0;
  overflow: hidden;
 }

.popup{
  background-color: #fff;
  width: 100%;
  max-width: 80%;
  height: auto;

}
#tbl {
 
 width: 100%;
 max-width: 80%;
 background-color: #fff;
 position: absolute;

}


/* #lbl {
float: left;
  width: 100%;
  max-width: 40%;
  height: auto;
  left: 0;
  right: 0;

 }
#imgd {
  float: left;
  width: 100%;
  max-width: 40%;
  height: auto;
  padding-top: 20px;
  left: 0;
}*/
.imgdetail{
  width: 80%;
  max-width: 50%;
  height: auto;

  border:1px solid grey;
  margin-left: 1px;
  padding: 0;
 overflow: auto;
 margin-top: 50px;
  float: left;

}

#more {display: none;}

#k{
  width: 100%;
  max-width: 30%;
  float: right;
}

.p1{
  font-family: Helvetica Neue;
  font-weight: normal;
  font-size: 36px;

}

#left{
  position: fixed;
  overflow:auto;
  float: right;
}

.p2 {
  font-family: Helvetica Neue;
  font-weight: normal;
  font-size: 24px;
  
}

 #overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.8;
      display: none;
    }
    #dialog {
      position: fixed;
      z-index: 1;
      top: 16%;
     left: 15%;
      width: 70%;
      height: 500px;
      border: 4px solid #ccc;
      background: #fff;
      display: none;
      overflow: auto;

    }
    #x{
      float: right;
      font-size: 30px;
      cursor: pointer;

    }

    #de{
      float: right;
    }


    #qty{
      background-color: #ec4a7f;
      border-radius: 5px;
    }

    #add{
      background-color: #ec4a7f;
      border-radius: 5px;
      font-family: Helvetica Neue;
      font-weight: normal;

    }

    #num{
      width: 60px;
      border-radius: 5px;
    }

    select .s {
      text-align: center;
    }